h3{
    background-color:#212F3D;
    color:#FFF;
    padding:12px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 17px;
}

.button-form{
  border:none;
  border-radius:0.25rem;
  padding:0.6rem 1rem;
  margin:0 0.rem 0 0;
  display:inline-block;
  background-color: #11264a;
  color:#FFFBED;
  font-weight:bold;
  font-size:1rem;
  line-height:1;
  text-transform:none;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  cursor:pointer;   
  margin-right: 1px;
}
.button-form:hover{
    background-color: #0941A6;
    color:#EFEFFF;
}
.button-form:active{
    transform:scale(.9);
}
